html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-weight: var(--fw-400);
  background-color: var(--background);
  color: var(--foreground);
}

.content-container {
  width: min(
    var(--container-width),
    calc(100% - (var(--container-padding) * 2))
  );
  margin-inline: auto;
}